.close-container {
  min-height: 100vh;
  background: var(--black);
  padding: 40px;
  color: var(--white);
}

.volver-btn {
  margin-bottom: 20px;
}

.close-header {
  text-align: center;
  margin-bottom: 40px;
}

.close-logo {
  width: 90px;
  filter: drop-shadow(0 0 12px var(--green));
  margin-bottom: 15px;
}

.close-title {
  font-size: 32px;
  font-weight: 700;
  text-shadow: 0 0 12px var(--green-glow);
}

.close-subtitle {
  color: var(--green);
  letter-spacing: 2px;
  font-size: 13px;
}

.close-card {
  background: var(--dark);
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  box-shadow: 0 0 20px #00ff7f20;
  border: 1px solid #1f1f1f;
}

.close-card label {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 6px;
  display: block;
}

.close-card input,
.close-card select {
  width: 100%;
  background: var(--dark-soft);
  border: 1px solid #333;
  padding: 12px;
  border-radius: 6px;
  color: var(--white);
  margin-bottom: 20px;
}

.cerrar-btn {
  width: 100%;
  margin-top: 10px;
}
