/* Fondo general */
.login-container {
  height: 100vh;
  background: #0A0A0A;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caja central */
.login-box {
  background: #111;
  padding: 40px;
  width: 380px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 25px #00FF7F20;
}

/* Logo */
.login-logo {
  width: 90px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 12px #00FF7F);
}

/* Títulos */
.login-title {
  color: white;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 4px;
}

.login-subtitle {
  color: #00FF7F;
  font-size: 12px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

/* Formulario */
.login-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.login-form label {
  color: #ccc;
  font-size: 12px;
  margin-bottom: 6px;
}

.login-form input {
  background: #1A1A1A;
  border: 1px solid #333;
  padding: 12px;
  border-radius: 6px;
  color: white;
  margin-bottom: 20px;
  transition: 0.2s;
}

.login-form input:focus {
  border-color: #00FF7F;
  box-shadow: 0 0 8px #00FF7F80;
}

/* Botón */
.login-button {
  background: #00FF7F;
  color: black;
  padding: 14px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0 12px #00FF7F80;
}

.login-button:hover {
  background: #4CFFB3;
  box-shadow: 0 0 18px #00FF7F;
}
